extends ../layouts/common
block content 
    if errors
        .alert.alert-danger #{errors}
    form(action="/auth/login", method="POST")
        .form-group
            label(for="email") Email
            input#email.form-control(name="email", type="text", value=value ? value.email : "")
        .form-group
            label(for="password") Password
            input#password.form-control(name="password", type="password")    
        button.btn.btn-primary Login    