extends ../layouts/common
block content
    
    .d-flex.align-items-center
        h2 User
        a.btn.btn-primary.ml-2(href="/users/create") new
    form.float-right(action="/users/search", method="GET")
        input(type="text", name="name")
        button.btn.btn-primary.ml-2 Search

    table.table
        tr  
            th Name 
            th Phone 
            th 
        each user in users
            tr
                td #{user.name}
                td #{user.phone}
                td 
                    a.btn.btn-light(href='/users/' + user.id) View
